
<form class="upload-form" action="/video" method="post">
  <h1 class='upload-form-title'>8Ball.TV Submission Form</h1>

  <label for="title" class="label">Title</label>
  <input id="title'" type="text" name="video[title]" value="">

  <label for="uploader_name" class="label">Uploader Name</label>
  <input id="uploader_name"  type="text" name="video[uploader_name]" value="">

  <label for="email" class="label">Email</label>
  <input id="email"  type="text" name="video[uploader_email]" value="">

  <label for="genre" class="label">Genre</label>
  <input id="genre"  type="text" name="video[genre]" value="">

  <label for="end-airing-date" class="label">Last Airing Date</label>
  <input id="end-airing-date"  type="date" name="video[end_airing_date]" value="true">

  <section class="series-container">
    <label for="series" class="label">Video is part of a series?</label>
    <input id="series"  type="checkbox" name="video[series]" value="">
  </section>

  <label for="crew" class="label">Crew Info</label>
  <textarea id="crew"  name="video[crew]"></textarea>

  <label for="additional_info" class="label">Additional Info</label>
  <textarea id="additional_info"  name="video[additional_info]"></textarea>

  <input id="file-input" type="file" name="video[file]">

  <input id="submit" type="submit" name="" value="Submit">
</form>


<!-- this element is the progress bar that uppy includes-->
<img class="upload-preview">

<!-- this references the compiled code in app/javascript/packs/upload -->

<%= javascript_pack_tag 'upload' %>
