<h1 class='upload-form-title'>8Ball.TV submission form</h1>

<form class="upload-form" action="/video" method="post">
  <input type="hidden" name="clip" value="" class="upload-hidden">

  <label for="title" class="label">Title</label>
  <input id="title'" type="text" name="video[title]" value="">

  <label for="uploader_name" class="label">Uploader Name</label>
  <input id="uploader_name"  type="text" name="video[uploader_name]" value="">

  <label for="email" class="label">Email</label>
  <input id="email"  type="text" name="video[uploader_email]" value="">

  <label for"file-input" class="label">Choose Video File</label>
  <input id="file-input" type="file" name="video[file]">

  <input id="submit" type="submit" name="" value="Submit">
</form>

<img class="upload-preview">

<!-- this references the compiled code in app/javascript/packs/upload -->
<%= javascript_pack_tag 'upload' %>
