<h1>UploadForm#index</h1>
<p>Find me in app/views/upload_form/index.html.erb</p>

<form class="upload-form" action="index.html" method="post">
  <label class="label">Title
    <input  type="text" name="title" value="">
  </label>

  <label class="label">Uploader Name
    <input type="text" name="name" value="">
  </label>

  <label class="label">Email
    <input type="text" name="email" value="">
  </label>

  <label class="label">Choose Video File
    <input type="file" name="" value="">
  </label>

  <input type="submit" name="" value="Submit">
</form>
