<h1 class='upload-form-title'>8Ball.TV submission form</h1>

<form class="upload-form" action="index.html" method="post">
  <label class="label">Title
    <input  type="text" name="title" value="">
  </label>

  <label class="label">Uploader Name
    <input type="text" name="name" value="">
  </label>

  <label class="label">Email
    <input type="text" name="email" value="">
  </label>

  <label class="label">Choose Video File
    <input type="file" name="" value="">
  </label>

  <input id='submit' type="submit" name="" value="Submit">
</form>


<!-- this references the compiled code in app/javascript/packs/upload -->
<%= javascript_pack_tag 'upload' %>
