// Place all the styles related to the upload_form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.upload-form {
  display: flex;
  flex-direction: column;
  width: 26rem;
  margin: 0 auto;
}

form input {
  margin-bottom: 1rem;
  margin-top: .2rem;
}
